HEDERA_NETWORK=testnet

SEED_PHRASE=
WALLET_PASSWORD=
VAULT_PAYLOAD=
VAULT_PASSWORD=
SENDER_ACCOUNT_ID=
RECIPIENT_ACCOUNT_ID=
TRANSFER_TINYBARS=
TRANSFER_MEMO=
SIGNED_TRANSACTION_HEX=

TESTNET_OPERATOR_ID=
TESTNET_OPERATOR_KEY=
TESTNET_NODE_ACCOUNT_ID=

PROD_OPERATOR_ID=
PROD_OPERATOR_KEY=
PROD_NODE_ACCOUNT_ID=
