SEED_PHRASE=
WALLET_PASSWORD=
VAULT_PAYLOAD=
VAULT_PASSWORD=
SENDER_ACCOUNT_ID=
RECIPIENT_ACCOUNT_ID=
TRANSFER_TINYBARS=
TRANSFER_MEMO=
NODE_ACCOUNT_ID=
SIGNED_TRANSACTION_HEX=
OPERATOR_ID=
OPERATOR_KEY=
